<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Forum</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <header>
        <nav>
            <a href="#/login" id="login-link">Login</a>
            <a href="#/register" id="register-link">Register</a>
            <a href="#/posts" id="posts-link" style="display: none;">Posts</a>
            <a href="#/chats" id="chats-link" style="display: none;">Chats</a>
            <a href="#" id="logout-link" style="display: none;">Logout</a>
        </nav>
    </header>

    <main id="main-content">
        </main>

    <script src="/static/js/script.js"></script>
</body>
</html>